.overley {
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.inline {
  display:inline
}

.requestLink:hover {
 cursor: pointer;
}