.overley {
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

form {
  text-align: center;
}
input {
  padding: 10px;
  outline: none;
}
select {
  padding: 10px;
  outline: none;
}
.taskInput {
  margin-top: 10px;
}


.margin-left {
  margin-left: 10px;
}