<div class="overley">
  <div class="row d-flex justify-content-center">
    <div class="card col-md-4">
      <article class="card-body">
        <div class="container">
          <button class="btn btn-secondary" (click)="onClickClose()">
            back
          </button>
          <button
            class="btn btn-secondary margin-left"
            (click)="onAddCollection()"
            *ngIf="addCollection == true"
          >
            add collection
          </button>
          <button
          class="btn btn-secondary margin-left"
          (click)="onBackClick()"
          *ngIf="addCollection == false && collection.length > 0"
          >
          Add task
          </button>
        </div>
        <form
          [formGroup]="addTaskForm"
          (ngSubmit)="onSubmit(addTaskForm.value)"
        >
          <div *ngIf="addCollection; then thenTemp; else elseTemp"></div>
          <div class="form-group text-center">
            <p>Task name</p>
            <input
              class="form-control"
              type="text"
              placeholder="Task name ..."
              formControlName="name"
            />
          </div>
          <div class="form-group text-center">
            <input
              class="btn btn-secondary"
              type="submit"
              placeholder="add task"
            />
          </div>
        </form>
      </article>
    </div>
  </div>
</div>

<ng-template #thenTemp>
  <div [formGroup]="addTaskForm">
    <select formControlName="twoCollection">
      <option *ngFor="let col of collection" value="{{ col.name }}">{{
        col.name
      }}</option>
    </select>
  </div>
</ng-template>

<ng-template #elseTemp>
  <div class="form-group text-center" [formGroup]="addTaskForm">
    <label>Task Collection</label>
    <input
      class="form-control"
      type="text"
      formControlName="twoCollection"
      placeholder="Task collection"
    />
  </div>
</ng-template>
