<div cdkDropListGroup>
  <div *ngIf="showAddTask">
    <app-add-task
      (closeWindow)="onClose($event)"
      [taskCollection]="selectedTasks.taskCollection"
      [id]="id"
    >
    </app-add-task>
  </div>
  <button class="addTask" (click)="onClickShow()">add task</button>
  <div *ngIf="isCollectionEmpty; then ifList else elseList">
    
  </div>
</div>

<ng-template #ifList>
  <div
    class="example-container"
    *ngFor="let taskCollection of selectedTasks.taskCollection"
  >
    <app-task [taskCollection]="taskCollection"></app-task>
  </div>
</ng-template>

<ng-template #elseList>
  <div class="example-container">
    <h2>no item in the list</h2>
  </div>
</ng-template>
