<div *ngIf="isLoading; then thenLoading; else elseLoading"></div>
<ng-template #thenLoading>
  <app-loading-screen></app-loading-screen>
</ng-template>

<ng-template #elseLoading>
  <button (click)="onClick()">add collection</button>
  <app-add-collection
    (addColl)="addCollection()"
    (closeWindow)="onClose($event)"
    *ngIf="showOverley"
  ></app-add-collection>

  <div class="container d-flex justify-content-between flex-wrap">
    <div class="card p-4" *ngFor="let tasks of userTasks">
      <div class="card-body">
        <a routerLink="{{ tasks._id }}">{{ tasks.project }}</a>
      </div>
    </div>
  </div>
</ng-template>
