<div *ngIf="isLoading; then thenLoading; else elseLoading"></div>

<ng-template #thenLoading>
  <app-loading-screen></app-loading-screen>
</ng-template>

<ng-template #elseLoading>
  <button (click)="onClick()">add collection</button>
  <app-add-collection
    (addColl)="updateCollection()"
    (closeWindow)="onClose($event)"
    *ngIf="showOverley"
  ></app-add-collection>
  <app-delate-sure
    (close)="onClose($event)"
    (dealte)="updateCollection()"
    [CollectionInfo]="(collectionInfo)"
    *ngIf="showDealteOverlay"
  >
  </app-delate-sure>

  <div class="container d-flex justify-content-between flex-wrap">
    <div class="card p-4" *ngFor="let tasks of userTasks">
      <app-links (dealteOverlay)="onDealteClick($event)" [tasks]="tasks"></app-links>
    </div>
  </div>
</ng-template>
