<div *ngIf="isLoading; then ifLoading; else ifDone"></div>

<ng-template #ifLoading>
  <app-loading-screen></app-loading-screen>
</ng-template>

<ng-template #ifDone>
  <div class="container">
    <div class="text-center">
      <h3>
        Are you sure you whant to join the collection
        <strong class="text-primary">{{ collectionName }}</strong>
      </h3>
      <button class="btn btn-primary space_bettwen" (click)="onJoin()">join</button>
      <button class="btn btn-danger" (click)="onDecline()">back</button>
    </div>
  </div>
</ng-template>
