<div>
  <app-edit-task *ngIf="showEdit"></app-edit-task>
  <h2>{{ collection.name }}</h2>
  <button class="btn btn-danger" (click)="delete()">x</button>
</div>
<div
  cdkDropList
  [cdkDropListData]="collection.task"
  class="example-list"
  (cdkDropListDropped)="drop($event)"
>
  <div
    class="example-box"
    *ngFor="let task of collection.task"
    cdkDrag
    [cdkDragData]="task"
  >
    {{ task.name }}
    <button class="btn btn-primary" (click)="edit(task.id)">edit</button>
  </div>
</div>
