<div class="overley">
  <div class="row d-flex justify-content-center">
    <div class="card col-md-4">
      <article class="card-body">
        <div class=".text-center">
          <h5>
            Do you whant to send request to join the collection:
            <strong>{{ name }}</strong>
          </h5>
        </div>
        <span class="d-flex justify-content-center">
          <button class="btn btn-primary margin" (click)="sendRequest()">
            send request
          </button>
          <button class="btn btn-danger margin" (click)="goBack()">
            go back
          </button>
        </span>
      </article>
    </div>
  </div>
</div>
