<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="card col-md-4">
      <article class="card-body">
        <form [formGroup]="singInForm" (ngSubmit)="onSumbit(singInForm.value)">
          <span class="container text-center">
            <h2>Sign in</h2>
          </span>
          <hr />
          <p class="text-center text-danger">{{ message }}</p>
          <div class="form-group text-center">
            <label>Email</label>
            <input
              class="form-control"
              type="text"
              formControlName="email"
              placeholder="email"
            />
          </div>
          <div class="form-group text-center">
            <label>Password</label>
            <input
              class="form-control"
              type="password"
              formControlName="password"
              placeholder="password"
            />
          </div>
          <div class="form-group text-center">
            <input
              class="btn btn-secondary btn-block"
              type="submit"
              value="sign in"
            />
          </div>
          <div class="form-group text-center">
            <a routerLink="/signUp">don't have a account</a>
          </div>
        </form>
      </article>
    </div>
  </div>
</div>
